.heading{
    font-size: 4rem;
}
.splitContainer{
    background:orange;
    width: 125rem;
}

.todo{
    min-height: 50rem;

}
.addTask{
    background-color: red;
    min-height: 9rem;
    width: 100%;
}

.container1{
    width: 50%;
}

.container2{
    width: 50%;
}